<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mdbootstrap/css/all.min.css">
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="/public/stylesheets/all.min.css">
    <link rel="stylesheet" href="/public/stylesheets/dropzone.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>shared</title>
</head>

<body class="container-fluid" id="sharedLogin" style="background:none">
    <% if(typeFile === "mp4" || typeFile === "ogg"){ %>
    <video src="http://localhost:5000/file/<%= key %>"></video>
    <% }else{ %>
    <embed src="<%= blob_link %>"></embed>
    <% } %>
    <script src="/mdbootstrap/js/jquery.min.js"></script>
    <script src="/mdbootstrap/js/popper.js"></script>
    <script src="/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js"></script>
</body>

</html>